# указываем обработчики логов - файловый и консольный
handlers = java.homework.util.logging.FileHandler, java.homework.util.logging.ConsoleHandler
# все логи уровня инфо и выше
java.homework.util.logging.FileHandler.level     = INFO
# класс который отвечает за форматирование логов в файл
java.homework.util.logging.FileHandler.formatter = java.homework.util.logging.SimpleFormatter
# append    = true чтобы шла дозапись файла
java.homework.util.logging.FileHandler.append    = true
# паттерн для создания строки в нужном формате
java.homework.util.logging.FileHandler.pattern   = log.%u.%g.txt
# с какого уровня будем выводить сообщения в консоль
java.homework.util.logging.ConsoleHandler.level     = INFO
# класс который отвечает за форматирование логов в консоль
java.homework.util.logging.ConsoleHandler.formatter = java.homework.util.logging.SimpleFormatter